body{
    margin: 0;
    padding: 0;
    background:rgb(245, 244, 244);
    background-image: url(images/head.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Logo ul{
    list-style: none;
    background: #e7e8e9;
    padding: 1px;
    margin: 0;
    text-align: center;
}
.Logo .fas{
    margin-left: 1px;
    padding: 3px 6px;
    text-align: center;
}
.img{
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.Logo li{
    display: inline-block;
}
.Logo a{
    text-decoration: none;
    color:  rgb(12, 12, 12);
    width: 100px;
    display: block;
    padding: 20px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.Logo a:hover{
background: rgb(189, 185, 185);
transform: translateX(2px);
}
.btn{
    font-family: cursive;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 20px;
    float: right;
}
*{
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.wrapper{
    height: 100%;
    width: 100px;
    margin: 20px;
    margin-left: 300px;
}
#per{
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.visa li{
    font-size: 20px;
   list-style: square;
    background: transparent fuchsia;
    padding: 2px;
    margin: 0;
    text-align: center;
}
.img:hover{
    transform: translateX(10px);
    }
.card:hover{
        transform: translateX(20px);
        }
    .container{
        text-align: center;
        text-decoration: rgb(243, 238, 238);
        font-weight: bold;
        background: transparent;
        margin-top: 50px;
        color: white;
    }
    .up-btn { width: 50px; height: 50px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: rgba(61, 201, 179, 0.5); display: block; margin: 0 auto; color: #fff; font-size: 18px; line-height: 40px; text-align: center; position: absolute; top: -60px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
.up-btn:hover, up-btn:focus { color: #fff; background: rgba(61, 201, 179, 1); }
.contact-details { margin: 80px 0; }
.contact-details h2 { font-size: 20px; }
.contact-details h2 span { display: block; color: #020a09; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; margin-top: 15px; }
.contact-wrap { position: relative; }
.light-box box-hover{
    text-align: right;
}