body{
    margin: 0;
    padding: 0;
    background:rgb(245, 244, 244);
    background-image: url(head.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Logo ul{
    list-style: none;
    background: #e7e8e9;
    padding: 2px;
    margin: 0;
    text-align: center;
}
.Logo .fas{
    margin-left: 1px;
    padding: 3px 6px;
    text-align: center;
}
.img{
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.Logo li{
    display: inline-block;
}
.Logo a{
    text-decoration: none;
    color:  rgb(12, 12, 12);
    width: 100px;
    display: block;
    padding: 20px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.Logo a:hover{
background: rgb(189, 185, 185);
transform: translateX(2px);
}
.btn{
    font-family: cursive;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 20px;
    float: right;
}
*{
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.wrapper{
    height: 100%;
    width: 100px;
    margin: 20px;
    margin-left: 300px;
}
#per{
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.visa li{
    font-size: 20px;
   list-style: square;
    background: transparent fuchsia;
    padding: 2px;
    margin: 0;
    text-align: center;
}
.img:hover{
    background: rgb(185, 187, 189);
    transform: translateX(10px);
    }